<div class="container">
  <div class="hero">
    <div class="hero--img"></div>
    <div class="hero--content">
      <div class="upper--line"></div>
      <h4 class="hero--subheading">Throughout the Industries</h4>
      <h2 class="hero--heading">Focusing <span>On</span> Your Needs</h2>
      <a href="#" class="hero--btn">Read More</a>
    </div>
    <div class="hero-subs">
      <div class="hero-sub">
        <p class="hero-sub--text">Focusing ON Your Needs</p>
        <h3 class="hero-sub--heading">
          Delivering the innovations to the challenging industries
        </h3>
        <div class="hero-sub--underline"></div>
      </div>
      <div class="hero-sub">
        <p class="hero-sub--text">Under Control</p>
        <h3 class="hero-sub--heading">Keeping the Promise to our Customers</h3>
        <div class="hero-sub--underline"></div>
      </div>
    </div>
  </div>
</div>
